@import "mixin-base.scss";

.title {
    background-color: #00d2c4;
    width: 100%;
    text-align: center;
    height: 60px;
    img {
        width: 100px;
    }
}

.main {
    padding: 8px;
    @include for-desktop-up {
        display: flex;
        justify-content: center;
    }
}
